*{
    margin: 0;
    box-sizing: border-box;
}
/* container-padding  */
.container-padding{
    padding: 5% 7%;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
/* fonts  */

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: white;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(166, 20, 47);
    
}
/* footer   */

/* footer svg icons  */

p{
    color: gray;
}
.svgicons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    list-style: none;
    padding: 0;
    margin: 0;

}
.svgicons li{
    display: block;
    margin-right: 1em;

}
.svgicons li:last-child{
    margin-right: 0;
}
svg{
    fill: crimson;
    display: block;
}

/* header  */
.poster{
    width: 100%;
    object-fit: cover;
    display: inline-block;
}

.header-padding{
    padding: 2% 10% 2%;
}
.qoteposter{
    height: 500px;  
    width: 100%;  
    
}
.qotetext{
    
    font-weight: 900;
    position: absolute;
    width: 40%;
    top: 35%;
    left: 5%;
    line-height: 1.5;
    
    
}

.posterblock{
    position: relative;
    
}
/* navbar  */
.navbar-brand{
    font-weight: 600;
    font-size: xx-large;
}
.navbar{
    background-color: rgb(166, 20, 47);
}
.navbar-nav{
    text-align: left;
}
.logo{
    vertical-align: text-bottom;
    width: 40px; 
    height: 55px;
}
/* firstcontainer  */

.pricetext{
    margin: 10% 0 10% 0;
}
.price-card-img{
    width: 12rem;
    height: 10.125rem;
}

.price-card{

    border-radius: 20px;
    padding: 40px 0 ;
    background-color:rgb(255, 255, 255);
    margin: 10%;
    box-shadow: 5px 5px 9px gray;

}

.buy-button{
    display: block;
    margin: 40px auto 0;
    padding: .5rem 1.5rem;
}
.color-name{
    margin-bottom: 20px;

}
/* testimonials */
#second-container{
    text-align: center;
}
.comments{
    display: inline-block;
    width: 50%;
    color: white;
    font-weight: 700;
}
.first, .second, .thired {
    padding: 50px;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
   background-color:  rgb(166, 20, 47);
}

.smiling-women{
    width: 100px;
    margin-bottom: 2%;
    margin-left:15%;
    
}
#footer{
    margin: 20px 0;

}

.copright{

    margin: 20px 0;
}
@media (max-width: 500px) { 

.qotetext{
    position: absolute;
    width: 50%;
    top: 25%;
    left: 3%;
    line-height: 1;
    font-size: 1.5rem;

}

.comments{
    display: inline-block;
    width: 95%;
    color: white;
    font-weight: 700;
    padding-top: 20%;
}

.first, .second, .thired {
    padding: 10px;
    height: 400px;
    width: 100%;
}
.smiling-women{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.womenname{
    display: block;
    margin: 10px 0;
    

}
} 